/*General styles*/

html{
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #434343;
    height: 100%;

}

/*Container */
.container{
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}